	<head>
			<title>Homologic User Profile</title>
	</head>
	<div class="container">
			
		<div id="alertsModal" ng-show="msgUserNotLogged" class="alert alert-danger" ng-bind-html="msgUserNotLogged"></div>
		
		<div ng-hide="msgUserNotLogged">
		
		<div  class="modal fade"  id="basicModal3" tabindex="-1" role="dialog" aria-labelledby="basicModal3" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cancel">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Modified Data Confirmation Message</h4>
						</div>
						<div class="modal-body">
							Are you sure you want to save changes?
						
						
							<div id="alertsModal" class="alert alert-success" ng-if="msgMod" role="alert"><p>{{msgMod}}</p></div>
							
							<div id="alertsModal" class="alert alert-danger" ng-if="msgModError" role="alert"><p>{{msgModError}}</p></div>			
							<div id="alertsModal" class="alert alert-danger" ng-if="msgModUserError" role="alert"><p>{{msgModUserError}}</p></div>
							<div id="alertsModal" class="alert alert-danger" ng-if="MsgUDError" role="alert"><p>{{MsgUDError}}</p></div>
							
							<div id="alertsModal" class="progress" ng-show="visible">
							  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Saving changes ...</div>
							</div>
						</div>
						
						<div class="modal-footer">
							<div ng-show="msgMod || msgModUserError || msgModError || MsgUDError">
								<button class="btn btn-success" ng-click="refreshPage()">Ok</button>
							</div>
							<div ng-hide="msgMod || msgModUserError || msgModError || MsgUDError">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button ng-click="changeUserData()" type="submit" class="btn btn-primary">Save</button>
							</div>
							
						</div>
					</div>
				</div>
		</div>
		
		<div ng-include="'views/header.html'"></div>
		
		<div id="register">
				<form novalidate name="form" class="form-login" role="form"  method="POST">
					<h3>User Profile</h3>
					
					<div id="detailedUD2">
						<label>User Name</label>
					</div>
					<div class="well well-sm">{{actualUserData.login}}</div>
					<div id="detailedUD2">
						<label>Role</label>
					</div>
					<div class="well well-sm">{{actualUserData.role | lowercase}}</div>
					<div id="detailedUD2">
						<label>Email address</label>
					</div>
					<div class="well well-sm">{{actualUserData.email}}
							<button type="button" class="btn bnt-link" ng-click="editEmail()" title="Change Email"><i ng-show="newEmail" class="fa fa-times"> </i> <i class="fa fa-pencil"></i></button>
					</div>
			
					<div ng-show="newEmail">
						<div class="separador"></div>
						<div id="formEUD" class="form-group">
							<label>Change Email address</label>
							<input type="email" name="userEmail" class="form-control" ng-model="changeEmail" placeholder="newaddress@mail.com">
							<div  ng-show="form.userEmail.$error.email" >
								  <span id="errorInput" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								  <span id="inputError2Status" class="sr-only">(error)</span>
							</div>
							
							<div ng-show="!form.userEmail.$error.email && changeEmail">
							  <span id="successInput" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
							  <span id="inputSuccess2Status" class="sr-only">(success)</span>
							</div>
						</div>
					</div>
					
					<div class="separador"></div>
					<div id="formEUD"class="form-group">
						<label>Change Password</label>
						<input type="password" name="userPass" class="form-control" ng-model="changePass"  placeholder="New Password">
					</div>
					<div id="formEUD"class="form-group">
						<label>Confirm New Password</label>
						<input type="password" name="userPassRep" ng-pattern="changePass" class="form-control" ng-model="changePassRep" placeholder="Repeat Password">
					
						<div ng-show="changePass && !changePassRep">
						  <span id="errorInput" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						  <span id="inputSuccess2Status" class="sr-only">(success)</span>
						</div>
					</div>
					
					<div class="btn-signup">
						<button class="btn btn-success" type="sumbit" ng-disabled="!changeEmail && (!changePass || !changePassRep)" data-toggle="modal" data-target="#basicModal3" ><i class="fa fa-floppy-o"></i> Save Changes</button>
						<button type="button" onClick="history.go(-1)" class="btn btn-default">Cancel</button>
					</div>
				 </form>
		</div>
		
		</div>
	</div>