		<!--  NAVBAR    -->
		<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
				
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="index.html#/home" title="Home">Homologic</a>
				  
				</div>
				
				<div class="collapse navbar-collapse" >
				  <ul class="nav navbar-nav navbar-right">
				  
				  	<div id="divCurrentUser">Welcome, {{currentUser.username}}</div>
				  	
					<li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-th-list"></span> Options<span class="caret"></span></a>
					  <ul class="dropdown-menu" role="menu">
						<li><a href="index.html#/newAnalysis"> <span class="glyphicon glyphicon-plus"></span> New Analysis</a></li>
						<li><a href="index.html#/home"> <span class="glyphicon glyphicon-search"></span> View Analysis</a></li>	
						<li><a ng-href="index.html#/userData/{{currentUser.username}}"><img id="iconsMargin" width="15px" height="15px" src="images/gene3.png"> Manage Genomes</a></li>
						<li><a ng-href="index.html#/editUserData/{{currentUser.username}}"> <i class="fa fa-user"></i> View User Profile</a></li>
						<li ng-show="currentUser.role== 'ADMIN'"><a href="index.html#/userMng"><i id="iconsMargin" class="fa fa-users"></i> Manage Users</a></li>
						<li class="divider"></li>
						<li><a href="index.html#/login"><span class="glyphicon glyphicon-off"></span> Log Out</a></li>
					  </ul>
					</li>
				  </ul>
				</div>
			  </div>
		</nav>
		
		<div class="Ctable" ng-if="analysisReady > 0">
			<div class="alert alert-info" id="alertsModal" role="alert">
		  	    <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				An Analysis has just finished.
			</div>
		</div>