	<head>
			<title>Homologic Home</title>
	</head>
	<div class="container">
	
			
		<div id="alertsModal" ng-show="msgUserNotLogged" class="alert alert-danger" ng-bind-html="msgUserNotLogged"></div>
				
		<div ng-hide="msgUserNotLogged">
			
			<div  class="modal fade"  id="basicModalDeleteAnalysis" tabindex="-1" role="dialog" aria-labelledby="basicModalDelete" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cancel">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Delete Confirmation Message</h4>
						</div>
						<div class="modal-body">
							Are you sure you want to delete analysis ?
							
							<div class="alert alert-danger" id="alertsModal" ng-if="analysisDeletedError" ng-hide="analysisDeleted" role="alert"><p>{{analysisDeletedError}}</p></div>
							<div class="alert alert-success" id="alertsModal" ng-show="analysisDeleted" role="alert"><p>{{analysisDeleted}}</p></div>
			
							
						</div>
						<div class="modal-footer">
							<div ng-show="analysisDeleted || analysisDeletedError">
								<button class="btn btn-success" ng-click="refreshPage()">Ok</button>
							</div>
							<div ng-hide="analysisDeleted || analysisDeletedError">
								<button ng-hide="invisible" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button ng-click="deleteAnalysis()" ng-hide="invisible" type="submit" class="btn btn-danger">Delete</button>
								<img class="loadingGifModal" id="loadingGifModal" src="images/ajax-loader-red-snake.gif"> <span id="deleting" ng-show="invisible">Deleting ... </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div ng-include="'views/header.html'"></div>
			
			
			<div class="Ctable">					
			
			<div id="alertsModal" ng-show="analysisListError" class="alert alert-danger">{{analysisListError}}</div>
			
			<div ng-show="analysisStopped" class="alert alert-info" id="alertsModal" role="alert">
		  	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
				</button>
				{{analysisStopped}}
			</div>
			
			<div ng-if="pendingAnalysis > 0" class="alert alert-info" id="alertsModal" role="alert">
		  	    <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Close">
							<span aria-hidden="true">&times;</span>
				</button>
				{{pendingAnalysis}} analysis on execution, please wait a few minutes.
				
			</div>
			
			
			<!-- Analysis Table -->
			
				<div class="panel panel-default">
				  <div class="panel-heading">
				  
					  <form id="searchCompBtn" role="search">
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="Search" ng-model="analysisListSearch" >
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default" title="Search in Analysis List"> <span class="glyphicon glyphicon-search"></span> </button>
							</span>
						</div>
					  </form>
					  <div id="BtnNewAnalysisDiv">
					  	<a id="BtnNewAnalysis" href="index.html#/newAnalysis" class="btn btn-link" title="Create new analysis"><span class="glyphicon glyphicon-plus"></span> New Analysis</a>
					  </div>
					  
					  Analysis List
					  
				  </div>
					
				  <table class="table table-hover">
				  		<!--  <tbody ng-show="analysisList == ''"><tr><td class="TT">No analysis for this user yet.</td></tr></tbody>
				  		
						<tbody ng-hide="analysisList == ''">-->
						<tbody>
							<tr>
								<td class="TT"><span id="aName">{{analysisEx.name}}</span> -- {{analysisEx['reference-genome']}} / {{analysisEx['test-genome']}}</td>
								<td class="BV">
									<button type="button" ng-click="viewResults(analysisEx.uuid)" class="btn btn-info" title="Analysis Results"><span class="glyphicon glyphicon-search"></span> View</button>
								</td>
								<td></td>
							</tr>	
							<tr ng-repeat="analysis in analysisList | filter: analysisListSearch | orderBy: 'name'">
								<td class="TT"><span id="aName">{{analysis.name}}</span> -- <span>{{analysis['reference-genome']}}/{{analysis['test-genome']}}</span><span ng-show="analysis.status != 'RUNNING'"> -- Status:</span> <span class="a{{analysis.status | lowercase}}" ng-show="analysis.status != 'RUNNING'">{{analysis.status | lowercase}}</span></td>
								<td ng-show="analysis.status == 'RUNNING'" class="BV">
									<button type="button" class="btn btn-success" title="On Execution" disabled>Running...</button>
								</td>
								<td ng-show="analysis.status == 'RUNNING'" class="BD">
									<button type="button" ng-click="cancelAnalysis(analysis.id)" class="btn btn-danger" title="Stop Analysis Execution">Cancel <span class="glyphicon glyphicon-remove"></span></button>
								</td>
								<td ng-show="analysis.status != 'RUNNING'" class="BV">
									<button type="button" ng-click="viewResults(analysis.id)" class="btn btn-info" title="Analysis Results"><span class="glyphicon glyphicon-search"></span> View</button>
								</td>
								<td ng-show="analysis.status != 'RUNNING'" class="BD">
									<button id="deleteAnalysisBtn" type="button" class="btn btn-danger" data-toggle="modal" data-target="#basicModalDeleteAnalysis" data-analysis-id="{{analysis.id}}" title="Delete this Analysis" ><span class="glyphicon glyphicon-trash"></span> Delete</button>
								</td>
							</tr>

						</tbody>
				  </table>
				</div>
			</div>
		</div>
		
		
	</div>