	<head>
		<title>Homologic Login</title>
	</head>
	<div class="container">
			<form class="form-login" ng-submit="login()" role="form">
				<h2>Please log in</h2>
				<div ng-if="msgLoginError" ng-hide="msgLoginSuc" class="alert alert-danger">{{msgLoginError}}</div>
				<div class="form-group">
					<label>User Name</label>
					<input name="username" type="text" class="form-control" ng-model="username" placeholder="User Name" required="" autofocus="">
					
					<div ng-show="msgLoginSuc">
					  <span id="successLogin" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
  					  <span id="inputSuccess2Status" class="sr-only">(success)</span>
					</div>
				
				</div>
				<div class="form-group">
					<label>Password</label>
					<input name="password" type="password" class="form-control" ng-model="password" placeholder="Password" required="">
				
					<div ng-show="msgLoginSuc">
					  <span id="successLogin" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
					  <span id="inputSuccess2Status" class="sr-only">(success)</span>
					</div>
				
				</div>
				<div class="btn-login">
					<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!username || !password">Submit</button>	
				</div>
			 </form>
			 
				<a id="BtnLink" name="register" href="index.html#/signUp" type="submit" class="btn btn-link">Register</a>
		</div>