	<head>
			<title>Homologic New Analysis</title>
	</head>
	<div class="container">
	
		<div id="alertsModal" ng-show="msgUserNotLogged" class="alert alert-danger" ng-bind-html="msgUserNotLogged"></div>
				
		<div ng-hide="msgUserNotLogged">
		
		<div  class="modal fade"  id="uploadGenomeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Uploading Genome</h4>
						</div>
						<div class="modal-body">
						
							<form role="form" name="upFormTest" class="form-NC" method="POST">
							
								<div class="form-group">
									<label>Test Genome Name</label>
									<div id="requiredInput" ng-show="!genomeName" >*</div>
									<input type="text" name="testGenomeName" ng-model="genomeName" class="form-control" placeholder="Enter Test Genome Name" required="" autofocus="">
					  			</div>
					  
								<span id="BtnUploadGenModal" class="btn btn-default btn-file">
									<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Choose File <input type="file" file-model="fileToUpload">
								</span>
								
								<div id="HBNameFile"><p class="help-block" ng-show="nameFile">{{nameFile}}</p></div>
								
								<div class="alert alert-danger" id="alertsModal" ng-if="MsgUp" ng-hide="MsgUpSucc" role="alert"><p>{{MsgUp}}</p></div>
								<div class="alert alert-success" id="alertsModal" ng-if="MsgUpSucc" ng-hide="MsgNewGenome" ng-bind-html="MsgUpSucc" role="alert">
								</div>
								
								<div class="alert alert-info" id="alertsModal" ng-if="MsgUpSucc" ng-hide="MsgUpError || MsgNewGenome"  role="alert"><p>We're checking that your genome is Ok.<br>This may take some minutes. Please, be patient.</p>
								</div>
								
								<div class="alert alert-danger" id="alertsModal" ng-if="MsgUpError" ng-hide="MsgNewGenome" role="alert"><p>{{MsgUpError}}</p></div>
								<div class="alert alert-success" id="alertsModal" ng-show="MsgNewGenome" ng-bind-html="MsgNewGenome" role="alert"></div>
								
								
								<div id="alertsModal" class="progress" ng-if="!invisible" ng-hide="MsgUpError">
								  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
								</div>
								
								
						
								<div id="BtnsFooterModal">
									<div ng-show="MsgNewGenome || MsgUpError">
										<button class="btn btn-success" ng-click="refreshPage()">Ok</button>
									</div>
									<div ng-hide="MsgNewGenome || MsgUpError">
										<button type="submit" ng-click="uploadFile()" class="btn btn-primary" ng-disabled="!genomeName || !fileToUpload">Upload</button>
										<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refreshPage()">Cancel</button>
									</div>
									
								</div>
						</form>
					</div>
					</div>
				</div>
			</div>
			
			<div  class="modal fade"  id="uploadRefGenomeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Uploading Reference Genome</h4>
						</div>
						<div class="modal-body">
						
							<form role="form" class="form-NC" method="POST">
							
								<div class="form-group">
									<label>Reference Genome Name</label>
									<div id="requiredInput" ng-show="!genomeRefName" >*</div>
									<input type="text" name="RefGenomeName" ng-model="genomeRefName" class="form-control" placeholder="Enter Reference Genome Name" required="" autofocus="">
					  			</div>
					  
								<span id="BtnUploadGenModal" class="btn btn-default btn-file">
									<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Choose File <input type="file" name="uploadFile" file-model="RefFileToUpload" required="">
									
								</span>	
								
								<div id="HBNameFile"><p class="help-block" ng-show="RefNameFile">{{RefNameFile}}</p></div>
								
								<div class="alert alert-danger" id="alertsModal" ng-if="MsgRef" ng-hide="MsgRefSucc" role="alert"><p>{{MsgRef}}</p></div>
								<div class="alert alert-success" id="alertsModal" ng-if="MsgRefSucc" ng-hide="MsgNewRefGenome" ng-bind-html="MsgRefSucc" role="alert">
								</div>
								
								<div class="alert alert-info" id="alertsModal" ng-if="MsgRefSucc" ng-hide="MsgUpRefError || MsgNewRefGenome"  role="alert"><p>We're checking that your genome is Ok.<br>This may take some minutes. Please, be patient.</p>
								</div>
								
								<div class="alert alert-danger" id="alertsModal" ng-if="MsgUpRefError" ng-hide="MsgNewRefGenome" role="alert"><p>{{MsgUpRefError}}</p></div>
								<div class="alert alert-success" id="alertsModal" ng-show="MsgNewRefGenome" ng-bind-html="MsgNewRefGenome" role="alert"></div>
								
								<div id="alertsModal" class="progress" ng-if="!invisible" ng-hide="MsgUpRefError">
								  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
								</div>
								
								
								<div id="BtnsFooterModal">
									<div ng-show="MsgNewRefGenome || MsgUpRefError">
										<button class="btn btn-success" ng-click="refreshPage()">Ok</button>
									</div>
									<div ng-hide="MsgNewRefGenome || MsgUpRefError">
									
										<button type="submit" ng-click="uploadReferenceFile()" class="btn btn-primary" ng-disabled="!genomeRefName || !RefFileToUpload">Upload</button>
										<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refreshPage()">Cancel</button>
									</div>
								</div>
						</form>
					</div>
					</div>
				</div>
			</div>
				
				
				<div ng-include="'views/header.html'"></div>
	
				<form role="form"  name="newCompForm" class="form-NC" method="POST">
					<h3>New Analysis</h3>
				  <div class="form-group">
					<label>Name</label>
					<div id="requiredInput" ng-show="!nameNewComp" >*</div>
					<input type="text" data-ng-model="nameNewComp" class="form-control" placeholder="Enter Analysis Name" required autofocus="">
				  </div>
				  
				  <div class="separador"></div>
				  
				  <div class="progress" ng-hide="(userDataRefGenomes && userDataGenomes) || MsgUDError">
					  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> Getting User Genomes... </div>
				  </div>
				    
				  <div id="GenSel" class="form-group">
					<label>Reference</label>
					<div id="requiredInput" ng-show="!RefGenSelect" >*</div>
					
					
					<select id="RefSel" name="RefSelect" class="form-control" title="Reference genome to compare" required data-ng-model="RefGenSelect" ng-options="genomeRef.name for genomeRef in userDataRefGenomes.metadata">
					  <option value=""> </option>
					</select>
					
					
					<button id="BtnUploadGen" ng-show="currentUser.role== 'ADMIN'" type="button" data-toggle="modal" data-target="#uploadRefGenomeModal" class="btn btn-default" title="Upload a reference genome">Upload...</button>
				 
					
				  </div>
				  <div id="GenSel" class="form-group">
					<label id="TestLab">Test</label>
					<div id="requiredInput" ng-show="!TestGenSelect" >*</div>
					
					
					<select id="TestSel" name="TestSelect" class="form-control" title="Test genome to compare" ng-change="getTestGenomeSelect()" required ng-model="TestGenSelect" ng-options="genome.name for genome in userDataGenomes.metadata">
					   <option value=""> </option>
					</select>
					
		
					<button id="BtnUploadGen2" data-toggle="modal" data-target="#uploadGenomeModal" type="button" class="btn btn-default" title="Upload a genome to test">Upload...</button>
				 	
				</div>
				
				<div ng-show="(!TestGenSelect || !RefGenSelect)" class="form-group">
					<div class="alert alert-info" id="alertsModal" role="alert">
						<p>Please select a Reference Genome and a Test Genome to continue.</p>
					</div>
				</div>
					
				  <div class="separador"></div>
				  
				   <div class="alert alert-danger" id="alertsModal" ng-if="MsgTGGenesError" role="alert"><p>{{MsgTGGenesError}}</p></div>
				  
				  <div class="progress" ng-if="TestGenSelect && RefGenSelect" ng-hide="testGenomeGenes || MsgTGGenesError">
					  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> Getting Test Genome Genes... </div>
				  </div>
				  
				  
				  	<div ng-show="TestGenSelect && !MsgTGGenesError" id="GenSel" class="form-group">
						<label>Gene</label>
						<div id="requiredInput" ng-show="!SelectGeneName" >*</div>
				
						<select id="GeneSel" name="GeneTestSelect" class="form-control" title="Select the test genome's gene" required ng-change="getGeneNameSelect()" ng-model="SelectGeneName" ng-disabled="!TestGenSelect" ng-options="genes for genes in testGenomeGenes">
						  <option value=""> </option>
						</select>
				  	</div>
				  	<div ng-show="TestGenSelect && RefGenSelect && SelectGeneName && !MsgTGSeqError" id="GenSel" class="form-group">	
						
						<div class="alert alert-danger" id="alertsModal" ng-if="MsgTGSeqError" ng-hide="geneSequence" role="alert"><p>{{MsgTGSeqError}}</p></div>
				  
						<label id="seqLabel">Sequence</label>
						<textarea id="GenSel" class="form-control" rows="21" readonly>{{geneSequence.sequence}}</textarea>
				 
					</div>
					
					<div ng-show="(TestGenSelect && RefGenSelect) && testGenomeGenes && !SelectGeneName" class="form-group">
					<div class="alert alert-info" id="alertsModal" role="alert"><p>Please select a Genome's Gene to continue.</p></div>
					</div>
				  
				  <div class="form-group" ng-show="SelectGeneName && (TestGenSelect && RefGenSelect)">
				  
				   <div class="separador"></div>
				   
					<input id="MaxNumC" ng-model="maxNumGenes" type="number" min="1" class="form-control" required="" value="3">
					<p class="help-block">Maximun number of comparisons <br>to de displayed: </p>
				  </div>
				 
				  <div class="alert alert-danger" ng-show="MsgAnalysisError" id="alertsModal" role="alert">{{MsgAnalysisError}}</div>
					
				  	 <button id="CompBtn" type="submit" ng-click="newAnalysis()" class="btn btn-primary btn-lg" ng-disabled="!nameNewComp || !RefGenSelect || !TestGenSelect || !SelectGeneName || !maxNumGenes">Compare</button>
				  	 <button id="CompCancelBtn" onclick="location.href='/homologic-web/index.html#/home';" type="button" class="btn btn-default btn-lg">Cancel</button>
			</form>
		</div>
	</div>		 