	<head>
		<title>Homologic Sign Up</title>
	</head>
	<div class="container">
			<div id="register">
				<form class="form-login" name="form" ng-submit="register()" role="form"  method="POST">
					<h2>Register</h2>

					<div id="formEUD" class="form-group">
						<label>User Name  </label>
						<div  id="requiredInput" ng-show="!usernameSU" >*</div>
						<input type="text" name="userName" class="form-control" ng-model="usernameSU" placeholder="User Name" required="" autofocus="">
					</div>
					<div class="separador"></div>
					<div id="formEUD" class="form-group">
						<label>Password  </label>
						<div id="requiredInput" ng-show="!passwordSU" >*</div>
						<input type="password" name="userPass" class="form-control" ng-model="passwordSU" placeholder="Password" required="">
					</div>
					<div id="formEUD" class="form-group">
						<label>Confirm Password  </label>
						<div id="requiredInput" ng-show="!reppasswordSU" >*</div>
						<input type="password" name="userPassRep" ng-pattern="passwordSU" class="form-control" ng-model="reppasswordSU" placeholder="Repeat Password" required="">
						
					</div>
					<div class="separador"></div>
					<div id="formEUD" class="form-group">
						<label>Email address</label>
						<div id="requiredInput" ng-show="!emailSU" >*</div>
						<input type="email" name="userEmail" class="form-control" ng-model="emailSU" placeholder="exampleaddress@mail.com" required>
					
						<div  ng-show="form.userEmail.$error.email" >
							  <span id="errorInput" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							  <span id="inputError2Status" class="sr-only">(error)</span>
						</div>
						
						<div ng-show="!form.userEmail.$error.email && emailSU">
						  <span id="successInput" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
						  <span id="inputSuccess2Status" class="sr-only">(success)</span>
						</div>
					</div>
					
					<div class="alert alert-danger" ng-if="MsgReg" ng-hide="MsgRegSucc" role="alert">
						<p>{{MsgReg}}</p>
					</div>
					<div class="alert alert-success" ng-show="MsgRegSucc" ng-bind-html="MsgRegSucc" role="alert"></div>
					
					<div id="alertsModal" class="progress" ng-show="!invisible">
					  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> Signing Up ...</div>
					</div>
					
					<div class="btn-signup" ng-hide="!invisible || MsgRegSucc">
						<button class="btn btn-success" type="submit" ng-model="SUSubmitBtn" ng-disabled="!usernameSU || !passwordSU || !reppasswordSU || !emailSU" >Sign Up</button>
						<button type="button" onClick="history.go(-1)" class="btn btn-default">Cancel</button>
					</div>
					<div ng-show="MsgRegSucc">
						<button class="btn btn-success" type="submit" onClick="history.go(-1)" >Ok</button>
					</div>
				 </form>
			 </div>
		</div>
