	<head>
			<title>Homologic User Management</title>
	</head>
	<div class="container">
			
		<div id="alertsModal" ng-show="msgUserNotLogged" class="alert alert-danger" ng-bind-html="msgUserNotLogged"></div>
		
		<div ng-hide="msgUserNotLogged">
			
			<div  class="modal fade"  id="basicModal2" tabindex="-1" role="dialog" aria-labelledby="basicModal2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cancel">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Delete Confirmation Message</h4>
						</div>
						<div class="modal-body">
							Are you sure you want to delete user <input readonly type="text" id="userLogin" value="">?
						
							<div class="alert alert-danger" id="alertsModal" ng-if="msgDeleteUser" ng-hide="msgDeleteUserSucc" role="alert"><p>{{msgDeleteUser}}</p></div>
							<div class="alert alert-success" id="alertsModal" ng-show="msgDeleteUserSucc" role="alert"><p>{{msgDeleteUserSucc}}</p></div>
				
						</div>
						
						<div class="modal-footer">
							<div ng-show="msgDeleteUserSucc || msgDeleteUser">
								<button class="btn btn-success" ng-click="refreshPage()">Ok</button>
							</div>
							<div ng-hide="msgDeleteUserSucc || msgDeleteUser">
								<button  ng-hide="invisible" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button  ng-hide="invisible" ng-click="deleteUser()" type="submit" class="btn btn-danger">Delete</button>
								<img class="loadingGifModal" id="loadingGifModal" ng-show="invisible" src="images/ajax-loader-red-snake.gif"> <span id="deleting" ng-show="invisible">Deleting ... </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-include="'views/header.html'"></div>
			
			<div class="tablaComp">
				<div class="alert alert-danger" id="alertsModal" ng-show="MsgUDError" role="alert"><p>{{MsgUDError}}</p></div>
				
				<div id="UsersTable" class="panel panel-default">
				
					  <div class="panel-heading">Users Table</div>
	
					  <table id="CompTable" class="table table-bordered table-hover">
							<thead>
							<tr>
								<th>User Name</th>
								<th>Role</th>
								<th>Email Address</th>
								<th id="action">Action</th>
							</tr>
							</thead>
							<tbody>
								<tr ng-repeat="userData in usersData.users | orderBy: ['role','login']">
									<td id="NE">{{userData.login}}</td>
									<td id="NE">{{userData.role| lowercase}}</td>
									<td id="NE">{{userData.email}}</td>
									<td>
										<a type="button" ng-href="index.html#/editUserData/{{userData.login}}" class="btn btn-link" title="Edit this user's data"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a>
										<a type="button" ng-href="index.html#/userData/{{userData.login}}" class="btn btn-link" title="View this user's data"><span class="glyphicon glyphicon-search"></span> View Data</a>
										<button id="DeleteUserBtn" type="button" class="btn btn-link" data-toggle="modal" data-target="#basicModal2" data-user-login="{{userData.login}}" title="Delete this user" ><span class="glyphicon glyphicon-remove"></span> Delete</button>
									</td>
								</tr>
							</tbody>
					  </table>
					  
				</div>
				
				<div id="alertsModal" class="progress" ng-show="!usersData && !MsgUDError && !msgDeleteUser && !msgDeleteUserSucc">
					  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Getting Users List ...</div>
				</div>
				
				<div id="BtnGroup">
					<button type="button" onclick="location.href='index.html#/signUp';" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span> Add User</button>
				</div>
				<div id="btnBackBlock">
					<button class="btn btn-primary btn-block" onClick="history.go(-1)" type="button"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
				</div>
				
			</div>
			
		</div>
	</div>