	<head>
			<title>Homologic Manage Genomes</title>
	</head>
	<div class="container">
			
		<div id="alertsModal" ng-show="msgUserNotLogged" class="alert alert-danger" ng-bind-html="msgUserNotLogged"></div>
		
		<div ng-hide="msgUserNotLogged">
		
			<div  class="modal fade"  id="basicModalDelete" tabindex="-1" role="dialog" aria-labelledby="basicModalDelete" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cancel">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Delete Confirmation Message</h4>
						</div>
						<div class="modal-body">
							Are you sure you want to delete genome <input type="text" id="genId" value=""> ?
							
							<div class="alert alert-danger" id="alertsModal" ng-if="msgDeleteGenome" ng-hide="msgDeleteGenomeSucc" role="alert"><p>{{msgDeleteGenome}}</p></div>
							<div class="alert alert-success" id="alertsModal" ng-show="msgDeleteGenomeSucc" role="alert"><p>{{msgDeleteGenomeSucc}}</p></div>
			
							
						</div>
						<div class="modal-footer">
							<div ng-show="msgDeleteGenomeSucc || msgDeleteGenome">
								<button class="btn btn-success" ng-click="refreshRefGenomes()">Ok</button>
							</div>
							<div ng-hide="msgDeleteGenomeSucc || msgDeleteGenome">
								<button ng-hide="invisible" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button ng-click="deleteRefGenome()" ng-hide="invisible" type="submit" class="btn btn-danger">Delete</button>
								<img class="loadingGifModal" id="loadingGifModal" ng-show="invisible" src="images/ajax-loader-red-snake.gif"> <span id="deleting" ng-show="invisible">Deleting ... </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div  class="modal fade"  id="basicModal4" tabindex="-1" role="dialog" aria-labelledby="basicModal4" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cancel">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Delete Confirmation Message</h4>
						</div>
						<div class="modal-body">
							Are you sure you want to delete genome <input type="text" id="genId" value=""> ?
							
							<div class="alert alert-danger" id="alertsModal" ng-if="msgDeleteGenome" ng-hide="msgDeleteGenomeSucc" role="alert"><p>{{msgDeleteGenome}}</p></div>
							<div class="alert alert-success" id="alertsModal" ng-show="msgDeleteGenomeSucc" role="alert"><p>{{msgDeleteGenomeSucc}}</p></div>
			
							
						</div>
						<div class="modal-footer">
							<div ng-show="msgDeleteGenomeSucc || msgDeleteGenome">
								<button class="btn btn-success" ng-click="refreshTestGenomes()">Ok</button>
							</div>
							<div ng-hide="msgDeleteGenomeSucc || msgDeleteGenome">
								<button  ng-hide="invisible" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button  ng-hide="invisible" ng-click="deleteTestGenome()" type="submit" class="btn btn-danger">Delete</button>
								<img class="loadingGifModal" id="loadingGifModal2" ng-show="invisible" src="images/ajax-loader-red-snake.gif"> <span id="deleting" ng-show="invisible">Deleting ... </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div  class="modal fade"  id="basicModalDeleteAnalysis" tabindex="-1" role="dialog" aria-labelledby="basicModalDelete" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cancel">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Delete Confirmation Message</h4>
						</div>
						<div class="modal-body">
							Are you sure you want to delete analysis ?
							
							<div class="alert alert-danger" id="alertsModal" ng-if="analysisDeletedError" ng-hide="analysisDeleted" role="alert"><p>{{analysisDeletedError}}</p></div>
							<div class="alert alert-success" id="alertsModal" ng-show="analysisDeleted" role="alert"><p>{{analysisDeleted}}</p></div>
			
							
						</div>
						<div class="modal-footer">
							<div ng-show="analysisDeleted || analysisDeletedError">
								<button class="btn btn-success" ng-click="refreshAnalysis()">Ok</button>
							</div>
							<div ng-hide="analysisDeleted || analysisDeletedError">
								<button ng-hide="invisible" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button ng-click="deleteAnalysis()" ng-hide="invisible" type="submit" class="btn btn-danger">Delete</button>
								<img class="loadingGifModal" id="loadingGifModal" ng-show="invisible" src="images/ajax-loader-red-snake.gif"> <span id="deleting" ng-show="invisible">Deleting ... </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div  class="modal fade"  id="uploadGenomeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Uploading Genome</h4>
						</div>
						<div class="modal-body">
						
							<form role="form" name="upFormTest" class="form-NC" method="POST">
							
								<div class="form-group">
									<label>Test Genome Name</label>
									<div id="requiredInput" ng-show="!genomeName" >*</div>
									<input type="text" name="testGenomeName" ng-model="genomeName" class="form-control" placeholder="Enter Test Genome Name" required="" autofocus="">
					  			</div>
					  
								<span id="BtnUploadGenModal" class="btn btn-default btn-file">
									<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Choose File <input type="file" file-model="fileToUpload">
								</span>
								
								<div id="HBNameFile"><p class="help-block" ng-show="nameFile">{{nameFile}}</p></div>
								
								<div class="alert alert-danger" id="alertsModal" ng-if="MsgUp" ng-hide="MsgUpSucc" role="alert"><p>{{MsgUp}}</p></div>
								<div class="alert alert-success" id="alertsModal" ng-if="MsgUpSucc" ng-hide="MsgNewGenome" ng-bind-html="MsgUpSucc" role="alert">
								</div>
								
								<div class="alert alert-info" id="alertsModal" ng-if="MsgUpSucc" ng-hide="MsgUpError || MsgNewGenome"  role="alert"><p>We're checking that your genome is Ok.<br>This may take some minutes. Please, be patient.</p>
								</div>
								
								<div class="alert alert-danger" id="alertsModal" ng-if="MsgUpError" ng-hide="MsgNewGenome" role="alert"><p>{{MsgUpError}}</p></div>
								<div class="alert alert-success" id="alertsModal" ng-show="MsgNewGenome" ng-bind-html="MsgNewGenome" role="alert"></div>
								
								
								<div id="alertsModal" class="progress" ng-if="fileToUpload && genomeName && invisible" ng-hide="MsgUpError">
								  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
								</div>
								
								
						
								<div id="BtnsFooterModal">
									<div ng-show="MsgNewGenome || MsgUpError">
										<button class="btn btn-success" ng-click="refreshTestGenomes()">Ok</button>
									</div>
									<div ng-hide="MsgNewGenome || MsgUpError">
										<button type="submit" ng-click="uploadFile()" class="btn btn-primary" ng-disabled="!genomeName || !fileToUpload">Upload</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
									</div>
									
								</div>
						</form>
					</div>
					</div>
				</div>
			</div>
			
			<div  class="modal fade"  id="uploadRefGenomeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Uploading Reference Genome</h4>
						</div>
						<div class="modal-body">
						
							<form role="form" class="form-NC" method="POST">
							
								<div class="form-group">
									<label>Reference Genome Name</label>
									<div id="requiredInput" ng-show="!genomeRefName" >*</div>
									<input type="text" name="RefGenomeName" ng-model="genomeRefName" class="form-control" placeholder="Enter Reference Genome Name" required="" autofocus="">
					  			</div>
					  
								<span id="BtnUploadGenModal" class="btn btn-default btn-file">
									<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Choose File <input type="file" name="uploadFile" file-model="RefFileToUpload" required="">
									
								</span>	
								
								<div id="HBNameFile"><p class="help-block" ng-show="RefNameFile">{{RefNameFile}}</p></div>
								
								<div class="alert alert-danger" id="alertsModal" ng-if="MsgRef" ng-hide="MsgRefSucc" role="alert"><p>{{MsgRef}}</p></div>
								<div class="alert alert-success" id="alertsModal" ng-if="MsgRefSucc" ng-hide="MsgNewRefGenome" ng-bind-html="MsgRefSucc" role="alert">
								</div>
								
								<div class="alert alert-info" id="alertsModal" ng-if="MsgRefSucc" ng-hide="MsgUpRefError || MsgNewRefGenome"  role="alert"><p>We're checking that your genome is Ok.<br>This may take some minutes. Please, be patient.</p>
								</div>
								
								<div class="alert alert-danger" id="alertsModal" ng-if="MsgUpRefError" ng-hide="MsgNewRefGenome" role="alert"><p>{{MsgUpRefError}}</p></div>
								<div class="alert alert-success" id="alertsModal" ng-show="MsgNewRefGenome" ng-bind-html="MsgNewRefGenome" role="alert"></div>
								
								<div id="alertsModal" class="progress" ng-if="genomeRefName && RefFileToUpload && invisible" ng-hide="MsgUpRefError">
								  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
								</div>
								
								
								<div id="BtnsFooterModal">
									<div ng-show="MsgNewRefGenome || MsgUpRefError">
										<button class="btn btn-success" ng-click="refreshRefGenomes()">Ok</button>
									</div>
									<div ng-hide="MsgNewRefGenome || MsgUpRefError">
									
										<button type="submit" ng-click="uploadReferenceFile()" class="btn btn-primary" ng-disabled="!genomeRefName || !RefFileToUpload">Upload</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
									</div>
								</div>
						</form>
					</div>
					</div>
				</div>
			</div>
		
			<div ng-include="'views/header.html'"></div>
			
			<div id="register">
				<div class="form-login">
					<h3>Genomes & Analysis Management</h3>
					
					<div class="btnBack">
						<button class="btn btn-primary" onClick="history.go(-1)" type="button"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
					</div>
					
					<div class="alert alert-danger" ng-if="MsgNotAuth" ng-hide="userDataGenomes && userDataRefGenomes && analysisList" role="alert"><p>{{MsgNotAuth}}</p></div>
					<div class="alert alert-danger" ng-if="MsgUDError" ng-hide="userDataGenomes && userDataRefGenomes" role="alert"><p>{{MsgUDError}}</p></div>
					<div ng-hide="MsgNotAuth">
					
						<div class="progress" ng-hide="(userDataRefGenomes && userDataGenomes && analysisList) || MsgUDError || MsgRefGDError || MsgGDError" >
						  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> Getting User Analysis and Genomes ... </div>
						</div>
						
						<div ng-if="currentUser.role== 'ADMIN'">
							<div id="detailedUD">
								<label>User Name</label>
							</div>
							<div class="well well-sm">{{userLogin}}</div>
							<div class="separador"></div>
						</div>
						
						<div id="detailedUD">
							<label>Reference Genomes</label>
							<a id="BtnNewGenome" ng-show="currentUser.role== 'ADMIN'" type="button" data-toggle="modal" data-target="#uploadRefGenomeModal" class="btn btn-link" title="Upload a reference genome"><span class="glyphicon glyphicon-plus"></span> New Ref Genome</a>
						</div>
						
						<div class="well" ng-if="MsgRefGDError">{{MsgRefGDError}}</div>
						
						
						<div ng-repeat="genomeRef in userDataRefGenomes.metadata">
							<div class="well">{{genomeRef.name}} ( {{genomeRef.numGenes}} genes )
								
								 <button id="DeleteGenomeBtn" type="button" ng-if="currentUser.role== 'ADMIN'"  ng-hide="invisible" class="btn btn-link" title="Delete this genome" data-toggle="modal" data-target="#basicModalDelete" data-gen-id="{{genomeRef.id}}"><span class="glyphicon glyphicon-remove"></span> Delete</button>
							</div>
						</div>
						
						<div class="separador"></div>
						
						<div id="detailedUD">
							<label>Test Genomes</label>
							<a id="BtnNewGenome" data-toggle="modal" data-target="#uploadGenomeModal" type="button" class="btn btn-link" title="Upload a genome to test"><span class="glyphicon glyphicon-plus"></span> New Test Genome</a>
						</div>
						
						<div class="well" ng-if="MsgGDError">{{MsgGDError}}</div>
						
						<div ng-repeat="genome in userDataGenomes.metadata">
							<div class="well">{{genome.name}} ( {{genome.numGenes}} genes )
								<button id="DeleteGenomeBtn" type="button" ng-hide="invisible" class="btn btn-link" title="Delete this genome" data-toggle="modal" data-target="#basicModal4" data-gen-id="{{genome.id}}"><span class="glyphicon glyphicon-remove"></span> Delete</button>
							</div>
						</div>
				</div>
			</div>	
			<div id="comp">		
				<div ng-hide="MsgNotAuth">
					<div class="separador"></div>
					
					<div id="detailedUD">
						<label>Analysis</label>
					</div>
					
					<div class="Ctable">
						<div class="panel panel-default">
						  <div class="panel-heading">{{userLogin}} -- Analysis List
						  
						  <div id="BtnNewAnalysisDiv">
						  	<a id="BtnNewAnalysis" href="index.html#/newAnalysis" class="btn btn-link" title="Create new analysis"><span class="glyphicon glyphicon-plus"></span> New Analysis</a>
						  </div>
							  
						  </div>
		
						  <table class="table table-hover">
								<tbody>
									<tr ng-show="MsgNullComp">
										<td>{{MsgNullComp}}</td>
									</tr>
									<tr ng-hide="MsgNullComp" ng-repeat="analysis in analysisList | orderBy: 'name'">
										<td>{{analysis.name}} -- {{analysis['reference-genome']}}/{{analysis['test-genome']}}</td>
										<td id="actionsCell">
											<button type="button" ng-click="viewResults(analysis.id)"class="btn btn-link" title="Analysis Results"><span class="glyphicon glyphicon-search"></span> View</button>
											<button id="DeleteUserBtn" type="button" class="btn btn-link" data-toggle="modal" data-target="#basicModalDeleteAnalysis" data-analysis-id="{{analysis.id}}" title="Delete this Analysis" ><span class="glyphicon glyphicon-remove"></span> Delete</button>	
										</td>
									</tr>
		
								</tbody>
						  </table>
						</div>
						<div class="btnBack">
							<button class="btn btn-primary" onClick="history.go(-1)" type="button"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
						</div>
					</div>
				</div>
			</div>
		</div>
			 
	</div>
		
	</div>
	