	<head>
			<title>Homologic Analysis Results</title>
	</head>
	<div class="container">
			
		<div id="alertsModal" ng-show="msgUserNotLogged" class="alert alert-danger" ng-bind-html="msgUserNotLogged"></div>
		
		<div ng-hide="msgUserNotLogged">
		
			<div ng-include="'views/header.html'"></div>
			
			
			<div class="tablaComp">
			
				<div class="alert alert-info" ng-show="resultData.end == null" id="alertsModal" role="alert"><p>The analysis is still on execution, please wait some minutes to get the results.</p></div>
			
				<div class="panel panel-default">
				  <div class="panel-heading">{{resultData['reference-genome']}} - {{resultData['test-genome']}} -- {{resultData.name}}
				 </div>

				  <table id="CompTable" class="table table-bordered table-hover">
						<thead>
						<tr>
							<th>Gene Name</th>
							<th ng-repeat="result2 in resultData.results[0].results">
								
								 {{result2.analysisType}} 
							</th>
						</tr>
						</thead>
						<tbody>
						
							<tr ng-repeat="result in resultData.results| orderBy: 'geneName'">
			
						  	 	<td class="celdasTabla">{{result.geneName}}</td> 
						 		<td id="{{result2.analysisType}},{{result2.result}}" name="{{result2.analysisType}}" ng-repeat="result2 in result.results">
									{{result2.result}} 
								</td>
							
							</tr>
						
						</tbody>
				  </table>
				</div>
				<div class="btnBack">
					<button class="btn btn-primary" onClick="history.go(-1)" type="button"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
				</div>
				
				<div class="separador"></div>
			
			</div>
			
			<div id="comp2" >
					<h3>Comparison Parameters</h3>
					<div id="formFiltro">
						<div id="fF1">
							<div id="camposFilt">
								<label>BLAST Ident ( Min )</label>
								<input id="BIMin" type="number" min="0" max="100" placeholder="%" class="form-control" ng-model="parameter.search" ng-disabled="true">
							</div>
							<div id="camposFilt">
								<label>Size Difference (<img width="14px" height="14px" src="images/mayorigual.png">)</label>
								<input id="BIMin" type="number" min="0" class="form-control" ng-change="getElementToHighlight('Size',size.search)" ng-model="size.search">
							</div>
							<div id="camposFilt">
								<label>Isoelectric Point (<img width="14px" height="14px" src="images/mayorigual.png">)</label>
								<input id="BIMin" type="number" min="0" max="1" step="0.01" class="form-control" ng-change="getElementToHighlight('Isoelectric point',ip.search)" ng-model="ip.search">
							</div>
						</div>
						<div id="fF2">
							<div id="camposFilt">
								<label>Motif</label>
	
							<div>
								<label>A</label>
								<input type="checkbox" ng-model="checkboxModel.a" title="A" ng-true-value="'A'" ng-false-value="''" ng-change="getMotifs('Motifs')">
								<label>B</label>
								<input type="checkbox" ng-model="checkboxModel.b" title="B" ng-true-value="'B'" ng-false-value="''" ng-change="getMotifs('Motifs')">
								<label>C</label>
								<input type="checkbox" ng-model="checkboxModel.c" title="C" ng-true-value="'C'" ng-false-value="''" ng-change="getMotifs('Motifs')">
								<label>D</label>
								<input type="checkbox" ng-model="checkboxModel.d" title="D" ng-true-value="'D'" ng-false-value="''" ng-change="getMotifs('Motifs')">
								<label>E</label>
								<input type="checkbox" ng-model="checkboxModel.e" title="E" ng-true-value="'E'" ng-false-value="''" ng-change="getMotifs('Motifs')">
							</div>
								
						</div>
							<div id="camposFilt">
								<label>Intron Num</label>
								<input id="BIMin" type="number" min="0" max="100" class="form-control" ng-model="parameter.search" ng-disabled="true">
							</div>
							<div id="camposFilt">
								<label>Syntheny</label>
								<input id="BIMin" type="number" min="0" max="100" class="form-control" ng-model="parameter.search" ng-disabled="true">
							</div>
						</div>
					</div>
			</div>
		
		</div>
	</div>