body {
  background-color: #EAF6F6  !important;
  min-width: 430px;
  margin: auto !important;
}

.container
{
	text-align: -webkit-center;
	text-align: -moz-center;
}

#container
{
	max-width: 1024px;
	margin: auto
}

#searchCompBtn
{
  float: right;
  margin-top: -4px;
  margin-right: 35px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.separador
{
	background-color: rgb(187, 187, 187);
	height: 1px;
	margin: 20px 0px 20px 0px;
}

.form-login {
  max-width: 380px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 5%;
}

.form-login .form-control {
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-control
{
	display: -moz-box !important;
}

.btn-login
{
	margin-top: 30px;
}

#successLogin
{
  color: #36BB38;
  position: inherit;
  float: right;
  margin-top: -40px;
}

#BtnLink{
	font-size: 1.2em;
	margin-left: -230px;
}

#BtnNewAnalysis
{
	color: #777;
}

#BtnNewAnalysisDiv
{
  float: right;
  margin-top: -4px;
  margin-right: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#BtnNewAnalysis:hover{
	background-color:rgb(245,245,245);
}

#BtnNewGenome
{
	float: right;
 	margin-top: -7px;
 	color: #777;
}

#BtnNewGenome:hover{
	background-color:rgb(245,245,245);
}

#iconsMargin
{
	  margin-left: -2px;
}

.btn-signup
{
	text-align: right;
	margin-top: 30px;
}

.btnBack
{
	text-align: right;
  	margin-bottom: 2%;
}

#btnBackBlock
{
  width: 200px;
  float: right;
  margin-bottom: 1%;
  clear: right;
}

#actionsCell
{
	width: 180px;
}

#aName
{
	 font-weight: bold;
	 font-size: 1.1em;
}

.afinished
{
	color: rgb(37, 189, 37);
}

.acancelled
{
	  color: red;
}

.ascheduled
{
	color: rgb(50, 193, 211);
}

.btn-signup button
{
	margin-left: 15px;
}

#register
{
	width: 500PX;
}

.form-group label
{
	float: left;
}

.navbar-default{
	margin: 1%;
}

#divCurrentUser
{
	float: left;
  	margin: 13px;
  	font-size: 1.2em;
	font-family: -webkit-body;
	color: gray;
}

.glyphicon
{
	font-size: 12px;
}

.btn-link
{
	text-decoration: none !important;
}

.navbar-form
{
	padding: 0px !important;
	border-top: 0px !important;
	border-bottom: 0px !important;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
	display: block !important;
}

.Ctable
{
	margin: 1%;
}

.BV
{
	text-align: end;
}

.BD
{
	text-align: start;
}

.TT
{
	text-align: center;
	font-family: -webkit-body;
  	font-size: 1.1em;
  	padding: 1% !important;
}

.panel-heading
{
	font-size: 1.2em;
	font-family: -webkit-body;
	color: gray !important;
	background-color: #f8f8f8 !important;
  	border-color: #e7e7e7 !important;
}

.modal-body
{
	font-family: -webkit-body;
	text-align: center;
	font-size: 1.2em;
}

.form-NC
{
	margin: 5%;
	width: 500px;
}

.form-CParam
{
	text-align: center;
}

.form-CParam h3
{
	font-family: -webkit-body;
}

#UpBtn
{
	float:right;
	margin-bottom: 10px;
}

#GenLab
{
	margin-top: 12px;
}

#GenSel
{
	margin-top: 25px;
}

#TestSel
{
	width: 250px;
	margin-left: -67px;
}

#RefSel
{
	width: 250px;
	margin-right: 110px;
}

input[type=file] {
	margin-left: 180px;
}

#MaxNumC
{
	width: 80px;
	text-align: center;
	float: right;
	margin-left: -80px;
}

#CompBtn
{
	margin-top: 20px;
	width: 50%;
}

#CompCancelBtn
{
	margin-top: 20px;
	margin-left: 20px;
}

.tablaComp
{
	margin: 1%;
}

#CompTable
{
	text-align: center;
}

#CompTable th
{
	background: rgb(236, 233, 233);
	text-align: center;
}

#CompTable td[id="NE"]
{
	padding-top: 15px;
}

.celdasTabla
{
	background:#F7F7F7;
	font-family:monospace;
}

.panel-heading .close
{
	color: red;
	font-size: 30px;
}

.panel-heading .close:hover
{
	color:  rgb(255, 4, 4);
}

#comp2
{
	margin:3%;
}

#ExpBtn
{
	text-align:right;
	margin-bottom: 1%;
}

#BIMin
{
	width: 80px;
	text-align: center;
	margin-left: 160px;
	margin-top: -30px;
}

#formFiltro
{
	margin-top: 50px;
}

#fF1
{
	margin-left: 20%;
}

#camposFilt
{
	text-align: initial;
	float: left;
	clear: left;
	margin-bottom: 20px
}

#fF2
{
	float: right;
	margin-top: -120px;
	margin-right: 20%;
	margin-bottom: 2%;
}

#formEUD
{
	margin-top: 20px;
	position: relative;
}

#detailedUD
{
	margin-top: 10px;
	text-align: left;
	margin-left: 10px;
	margin-bottom: 15px
}

#detailedUD2
{
	margin-top: 20px;
	text-align: left;
	margin-left: 10px;
}

#BtnGroup
{
	width: 200px;
	float: right;
	margin-bottom: 2%;
}

#UsersTable
{
	text-align: center;
	margin-top: 2%;
}

#userLogin
{
  width: 80px;
  text-align: right;
  padding-right: 3px;
  border: none;
  font-weight: bold;
}

#DeleteUserBtn
{
	color: rgb(236, 105, 105);
}

#DeleteGenomeBtn
{
	color: rgb(236, 105, 105);
	float: right;
	margin-top: -5px;
}

#action
{
	width: 325px;
}

#BtnLgnConf
{
	margin-top: 10px;
}

.btn-file
{
	position:relative;
	overflow:hidden;
}

.btn-file input[type=file]
{
	position:absolute;
	top:0;
	right:0;
	min-width:100%;
	min-height:100%;
	font-size:100px;
	text-align:right;
	filter: alpha(opacity=0);
	opacity:0;
	outline: none;
	background: white;
	cursor: inherit;
	display:block;

}

#BtnUploadGen
{
	float: right;
	margin-top: -33px;
}

#BtnUploadGen2
{
	float: right;
	margin-top: -33px;
}

#BtnUploadGenModal
{
	margin-left: -390px;
	margin-top: 15px;
}

#HBNameFile
{
	margin-top: -33px;
	margin-left: -150px;
}

#uploadGenomeModal .modal-body
{
	background-color: #EAF6F6;
}

#uploadRefGenomeModal .modal-body
{
	background-color: #EAF6F6;
}

#alertsModal
{
	margin-top: 30px;
}

#BtnsFooterModal
{
	margin-top: 40px;
	margin-bottom: -20px
}

#errorInput
{
	color: #E4100C;
	position: absolute;
	top: 30px;
	right: 0;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
}

#successInput
{
	color: #36BB38;
	position: absolute;
	top: 30px;
}

#requiredInput
{
	color: #E4100C;
	float: left;
}

input.ng-dirty.ng-invalid{
    border-color: #E4100C !important;
}

#formEUD input.ng-dirty.ng-valid{
    border-color: #36BB38 !important;
}

.loadingGif
{
	float: right;
	margin-top: 5px;
	display: none;	
}

.loadingGifModal
{
	display: none;	
}

#deleting
{
	color: rgb(236, 105, 105);
}

#GeneSel
{
	width: 250px;
  	margin-left: -75px;
}
#seqLabel
{
	margin-top: 10px;
}

#genId
{
	width: 50px;
	text-align: right;
	padding-right: 3px;
	border: none;
	font-weight: bold;
}

tr:hover{
	background-color:rgb(245,245,245);
}

@-moz-document url-prefix()
 {
   
    #BIMin
    {
		margin-top: -10px;
		float: left;
		margin-bottom: -27px;
    }
    #fF2
    {
    	margin-top: -162px;
    	margin-right: 15%;
    }
   #TestSel{
		margin-left: 16px;
	}
	
	#GeneSel
	{
	  	margin-left: -78px;
	}
	
	#BtnUploadGen2{
		margin-top: 0px;
	}
	
	#GenSel{
		margin-top: 0px;
	}
 }
